<aside class="single_sidebar_widget post_category_widget">
                                    <h4 class="widget_title">دسته بندی پست ها</h4>
                                    <ul class="list cat-list">
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>تکنولوژی</p>
                                                <p>۳۷</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>زندگی</p>
                                                <p>۲۴</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>مد</p>
                                                <p>۵۹</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>هنر</p>
                                                <p>۲۹</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>غذا</p>
                                                <p>۱۵</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>معماری</p>
                                                <p>۰۹</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="d-flex justify-content-between">
                                                <p>ماجراجویی</p>
                                                <p>۴۴</p>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="br"></div>
                                </aside>