{% load static %}
<aside class="single_sidebar_widget author_widget">
                                    <img class="author_img rounded-circle"
                                         src="{% static 'img/writer.jpg' %}" alt="">
                                    <h4>حسن حاجی محمدی</h4>
                                    <p>مدیر سایت</p>
                                    <div class="social_icon">
<!--                                        <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-github"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-behance"></i></a>-->
                                    </div>
                                    <p>نویسنده مطالب وبسایت</p>
                                    <div class="br"></div>
                                </aside>